/* General Styles */

body {
    font-family: Antic;
    margin: 0;
    margin: 40;
    padding: 0;
    background-color: #EBEBEB;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    font-weight: bolder;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #59C3C3;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

header {
    background-color: #52489C;
    color: #EBEBEB;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

header nav ul h1 {
    font-family: Sigmar One;
    display: inline-block;
    text-align: left;
    margin-left: 60px;
    margin-right: 540px;
}

header nav ul li {
    list-style: none;
    margin-right: 20px;
    text-align: right;

    display: inline-block;
    margin-left: 20px;

    position: relative;
}

header nav ul li a {
    color: #EBEBEB;
    text-decoration: none;
    padding: 10px 10px;
    transition: background 0.3s ease;
}

header nav ul li a:hover {
    background-color: #52489C;
    border-radius: 5px;
}

.welcome {
    text-align: center;
    padding: 50px 20px;
    background-color: #EBEBEB;
}

.welcome h2 {
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 20px;

}

.welcome p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.forms {
    margin: 30px;
}

.information {
    margin: 30px;
}

.input-route {
    margin: 0px;
}

.routes-grid {
    margin: 30px;
}

.route-card {
    background-color: #EBEBEB;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.route-card p {
    color: #52489C;
}

.view-route {
    background-color: #84A98C;
    color: #EBEBEB;
    text-decoration: none;
}

.view-route:hover {
    background-color: #84A98C;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #52489C;
    color: #EBEBEB;
}

.joes-map {
    display: block;
}

.container2 {
    display: flex;
    width: 100%;
}

#options {
    width: 10%;
    height: 600PX;
}

.button {
    align-items: center;
    background-clip: padding-box;
    background-color: #52489C;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.dropdown {
    align-items: center;
    background-clip: padding-box;
    background-color: #52489C;
    border: 1px solid transparent;
    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#exploreMap {
    width: 90%;
    height: 600PX;
    margin-left: auto;
    margin-right: 0;
    display: block;

}

.button:hover {
    background-color: #837cbb;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #52489C;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    width: 250px;
    height: 80px;
    background: #fff;
    font-weight: 750;
    margin: 100px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.3s linear forwards;
}

@keyframes moveleft {
    100% {
        transform: translateX(0)
    }
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: #52489C;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgb(42, 162, 188);
    animation: anim 3s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

input {
    padding: 1em;
    width: 98.1%;
    border-radius: 0;
    border: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.input-container {
    padding: 2px;
    margin: 1.5rem 0;
}

.input-container.outline {
    animation-name: animate-in;
    animation-duration: 1s;
    background-image: linear-gradient(to right, #59C3C3, #59C3C3), linear-gradient(to bottom, #59C3C3, #59C3C3), linear-gradient(to right, #59C3C3, #59C3C3), linear-gradient(to bottom, #59C3C3, #59C3C3);
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

@keyframes animate-in {
    0% {
        background-size: 0 2px, 0 0, 0 0, 0 0;
    }

    25% {
        background-size: 100% 2px, 0 0, 0 0, 0 0;
    }

    50% {
        background-size: 100% 2px, 2px 100%, 0 0, 0 0;
    }

    75% {
        background-size: 100% 2px, 2px 100%, 100% 2px, 0 0;
    }

    100% {
        background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    }
}

.map {
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    height: auto;
    height: 221.8px;
    width: 200px;
    margin-left: 30px;
    margin-right: 540px;
    margin-top: 1px;
}

.logo-small {
    position: absolute;
    height: auto;
    height: 66.54px;
    width: 60px;
    margin-left: 40px;
    margin-right: 540px;
    margin-top: -10px;
}

.routes-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.route-card {
    flex: 1;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
}

.route-card h4 {
    margin-bottom: 10px;
    font-family: 'Sigmar One', cursive;
}

.route-card p {
    font-family: 'Antic', sans-serif;
    margin-bottom: 20px;
}